name: Build TrashPlugin

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: 'temurin'
      - name: Build with Maven
        run: mvn package
      - name: Upload JAR Artifact
        uses: actions/upload-artifact@v4
        with:
          name: trashplugin20
          path: target/*.jar
